<a href="https://colab.research.google.com/github/ersharadpal/python/blob/main/Another_copy_of_SET.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# set
s3=set()
print(type(s3))
print(s3)

<class 'set'>
set()

In [ ]:
list1=[1,2,3,5,6,7,7]

s4=set(list1)

print(s4)
print(type(s4))

# Set is constructer and remove duplicate

{1, 2, 3, 5, 6, 7}
<class 'set'>

In [ ]:
s3.add(3)
s3.add(4)
print(s3)

{3, 4}

In [ ]:
s4.update([10,12,999])
print(s4)

{1, 2, 3, 5, 6, 7, 999, 10, 12}

In [ ]:
s4.update((10,12,99))
print(s4)

{1, 2, 3, 99, 5, 6, 7, 999, 10, 12}

In [ ]:
xourse="acciojob"
se=set(xourse)
print(se)

{'j', 'i', 'b', 'a', 'c', 'o'}

In [ ]:
tup1=("aman","akash","aman","Akash")
print(tup1)

se_tup=set(tup1)
print(se_tup)

('aman', 'akash', 'aman', 'Akash')
{'aman', 'akash', 'Akash'}

In [ ]:
print("before",se_tup)
se_tup.remove("aman")
print("after",se_tup)

before {'aman', 'akash', 'Akash'}
after {'akash', 'Akash'}

In [ ]:
print("before",se_tup)

se_tup.discard("aman")

print("after",se_tup)

before {'akash', 'Akash'}
after {'akash', 'Akash'}

In [ ]:
set1={"aman","akash","aman","Akash"}

for i in set1:
  print(i)

aman
akash
Akash

In [ ]:
friends=["aman","jeetu","ram","shyam","krishan"]
c=set(friends)
c.remove("ram")
print(c)

{'krishan', 'aman', 'jeetu', 'shyam'}

In [ ]:
a=set()
a.update(["aman","ram"])
print(a)
a.remove("ram")
print(a)

{'aman', 'ram'}
{'aman'}

In [ ]:
#Union operator
a={1,2,3}
b={3,4,5}

print(a|b)

{1, 2, 3, 4, 5}

In [ ]:
#Union operator
a={1,2,3}
b={3,4,5}
final=a.union(b)
print(final)

#print(a|b)

{1, 2, 3, 4, 5}

In [ ]:
#intersaction

set1={1,3,3,3,4,5}
set2={1,2,3,4,5}
set1.intersection(set2)


#print(set1&set2)

{1, 3, 4, 5}

In [ ]:
set1={1,3,3,3,4,5}
set2={1,2,3,4,5}
set1.difference(set2)


#

{1, 3, 4, 5}

In [ ]:
course1={"english","hindi"}
course2={"english","sanskrit"}

c=course1.union(course2) # combine and unique
print(c)
d=course1.intersection(course2)
print(d)
e=course1.difference(course2)
print(e)
f=course1.symmetric_difference(course2)
print(f)

{'sanskrit', 'hindi', 'english'}
{'english'}
{'hindi'}
{'sanskrit', 'hindi'}

In [ ]:
data=[10,20,20,30,40,40]
c=set(data)
print(c)

{40, 10, 20, 30}

In [ ]:
s={1,2,3,3,2}
print(s)

{1, 2, 3}

In [ ]:
a=set()
a.add(1)
a.add(2)
a.add(3)
print(a)

{1, 2, 3}

In [ ]:
s={}
s.add(10)

AttributeError: 'dict' object has no attribute 'add'

In [ ]:
a={2,4,6,8}
b={4,8,12}
a.union(b)

{2, 4, 6, 8, 12}

In [ ]:
a={10,20,30,40}
a.discard(30)
print(a)

{40, 10, 20}

In [ ]:
5 in {5,10,15,20}

True

In [ ]:
sentence ='python is easy and python is powerful'
a=set(sentence.split())
print(a)

{'python', 'is', 'powerful', 'and', 'easy'}

In [ ]:
person={
    "name":"aman",
    "marks":21,
    "is_male":True
}
print(person)

print(type(person))

{'name': 'aman', 'marks': 21, 'is_male': True}
<class 'dict'>

In [ ]:
batch10={
    "name":["aman","akash","aditi","rahul"],
    "assignment":[23,24,25,27],
    "Is_male":[True,True,False,True],
    "gender":["Male","Male","Female","Male"]
}

print(batch10)
print(batch10["name"][-1])
#batch10.keys()
#batch10.items()
#batch10.values()

{'name': ['aman', 'akash', 'aditi', 'rahul'], 'assignment': [23, 24, 25, 27], 'Is_male': [True, True, False, True], 'gender': ['Male', 'Male', 'Female', 'Male']}
rahul

dict_items([('name', ['aman', 'akash', 'aditi', 'rahul']), ('assignment', [23, 24, 25, 27]), ('Is_male', [True, True, False, True]), ('gender', ['Male', 'Male', 'Female', 'Male'])])

In [ ]:
for key,value in batch10.items():
 print(key,value)

name ['aman', 'akash', 'aditi', 'rahul']
assignment [23, 24, 25, 27]
Is_male [True, True, False, True]
gender ['Male', 'Male', 'Female', 'Male']

In [ ]:
s= {10, 20, 30}
s.add(20)
print(len(s))

3

In [ ]:
s={100,200,300}
c= list(s)
print(type(c))
print(c)

<class 'list'>
[200, 100, 300]

In [ ]:
s= set('hello')
print(s)

{'o', 'e', 'l', 'h'}

In [ ]:
text='programming'
s= set(text)
print(s)

{'i', 'n', 'o', 'p', 'm', 'g', 'r', 'a'}

In [ ]:
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
c= class_A.union (class_B)
print(c)

{'Simran', 'Aman', 'Riya', 'Karan', 'Neha'}

In [ ]:
a=[1,2,3]
3 in a

True

In [ ]:
# x=0
for x in range (10):
 if x % 2 == 0 :
   print(x)

0
2
4
6
8

In [ ]:
nums=[10,15,20,25]
for x in nums:
  if x>=15 :
   print(x)
   x+1

15
20
25

In [ ]:
pd.read_csv("/content/sample_data/Student_CSV.csv")

NameError: name 'pd' is not defined

In [ ]:
df=pd.read_csv("/content/sample_data/Student_CSV.csv")

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/sample_data/Student_CSV.csv")

In [ ]:
df.columns

Index(['StudentID', 'Name', 'City', 'Age', 'Score', 'JoinedDate', 'IsActive'], dtype='object')

In [ ]:
df.head()

  StudentID       Name       City  Age  Score  JoinedDate  IsActive
0      S001  Student_1       Pune   26  58.55  2024-01-01      True
1      S002  Student_2    Kolkata   22  76.41  2024-01-02     False
2      S003  Student_3    Kolkata   18  92.66  2024-01-03     False
3      S004  Student_4  Bengaluru   22  58.34  2024-01-04     False
4      S005  Student_5      Delhi   29  81.87  2024-01-05      True

In [ ]:
df.tail()

   StudentID         Name       City  Age  Score  JoinedDate  IsActive
95      S096   Student_96  Bengaluru   22  95.57  2024-04-05     False
96      S097   Student_97  Bengaluru   26  72.55  2024-04-06     False
97      S098   Student_98      Delhi   22  49.99  2024-04-07      True
98      S099   Student_99     Mumbai   29  67.41  2024-04-08      True
99      S100  Student_100  Hyderabad   23  79.15  2024-04-09     False

In [ ]:
df.shape

(100, 7)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   StudentID   100 non-null    object
 1   Name        100 non-null    object
 2   City        100 non-null    object
 3   Age         100 non-null    int64
 4   Score       100 non-null    float64
 5   JoinedDate  100 non-null    object
 6   IsActive    100 non-null    bool
dtypes: bool(1), float64(1), int64(1), object(4)
memory usage: 4.9+ KB

In [ ]:
df.describe()

              Age       Score
count  100.000000  100.000000
mean    24.410000   69.760800
std      3.654512   17.535534
min     18.000000   40.240000
25%     21.750000   54.735000
50%     25.000000   71.050000
75%     28.000000   84.325000
max     30.000000   99.930000

In [ ]:
pd.series([1,2,3,4,5])
pd.series(["Delhi","Noida","Gurgaon"])
pd.series([23.6,24.6,89.6])

AttributeError: module 'pandas' has no attribute 'series'

In [ ]:
I

SyntaxError: invalid syntax (ipython-input-2196311645.py, line 1)