<a href="https://colab.research.google.com/github/ersharadpal/python/blob/main/Copy_of_OOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Student_dic= {
    "shivam": 59
}
t=input("enter the name:")

if t in Student_dic:
  print(t,"marks ", Student_dic[t])
else:
  print("not found")

enter the name:shivam
shivam marks  59

In [ ]:
# OOPS
class student:
  name="Aman"
  marks=23
  age=29

obj1=student()
obj1.name
obj1.marks

'Aman'

In [ ]:
obj2=student()
obj2.name = "Aditi"
obj2.age ="36"
print(obj2.name)

print(obj1.name)
print(obj2.age)

Aditi
Aman
36

In [ ]:
class employee:
  emp_id="1234"
  salary=50000
  department="HR"

In [ ]:
emp1 = employee()
print(emp1.emp_id)
emp1.salary=32000

print(emp1.salary)

emp1.email="1234@com.com"

print(emp1.email)

1234
32000
1234@com.com

In [ ]:
class employee:
  emp_id="1234"
  salary=50000
  department="HR"

In [ ]:
class employee:
  pass # Empty class

trick=employee()
print(trick)

trick.enigetype="Petrol"
trick.marks=29

print(trick.enigetype)
print(trick.marks)

<__main__.employee object at 0x7adcadbdac60>
Petrol
29

In [ ]:
class employee:
  def _int_(self): #constructer
    print("Hello")

  def greet():
    print("Why not called")

new1=employee()
new2=employee()

new1.greet()

In [ ]:
class employee:
  def __int__(self,name,age): #constructer
    self.name=name
    self.age=age


  #def greet(self):
    #print("Why not called")

new1=employee("aman",29)
print(new1.name)

new2=employee("aditi",28)
print(new2.name)

TypeError: employee() takes no arguments

In [ ]:
class employee:
 def __init__(self,name,age): #constructer
    self.name=name
    self.age=age
new1 = employee("aman",29)
print(new1.name)

def learning(self):
   print(f"How is your learning{self.name}:")

aman

In [ ]:
class employee:
  def __init__(self,paw,email):
    self.Password=paw
    self.Email=email

  def login(self):
    #print("login successful")
    c_paw=input("enter the password")
    c_email=input("enter the email")
    if self.Password==c_paw and self.Email==c_email:
      print("login successful")
    else:
      print("login failed")

obj1=employee("1234","abc@gmail.com")

obj1.login()

enter the password1234
enter the emailabc@gmail,com
login failed