<a href="https://colab.research.google.com/github/ersharadpal/python/blob/main/Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as xyz

In [ ]:
import pandas as xyz
list1= ["akash","aman","sharad"]

xyz.DataFrame(list1,columns =["Name"], index=["1st student","2nd Student","3rd student"])

               Name
1st student   akash
2nd Student    aman
3rd student  sharad

In [ ]:
Data_new = {
    "Name": ["sharry","Sonu","Monu","Nonu"],
    "Marks": [10,20,30,40]
}

In [ ]:
import pandas as pd

pd.DataFrame(Data_new)

     Name  Marks
0  sharry     10
1    Sonu     20
2    Monu     30
3    Nonu     40

In [ ]:
data = {
   "Name": ["sharry","Sonu","Monu","Nonu"],
    "Age": [10,20,30,40] ,
   "City" : ["Delhi","mumbai", "chennai","Hyderabad"]
}

In [ ]:
#pd.DataFrame(data)
pd.Series(data)

Name             [sharry, Sonu, Monu, Nonu]
Age                        [10, 20, 30, 40]
City    [Delhi, mumbai, chennai, Hyderabad]
dtype: object

In [ ]:
list4= {
    ["Laptop", 5000,30],
    ["Mobile", 2000,40],
    ["tablet", 3000,50]
}

pd.DataFrame(list4, columns=["Product","Cost","Age"])

TypeError: unhashable type: 'list'