#  Python Sets â€“ Practice Questions

### Q1
Create a set from the list below and print only the unique values.

```python
data = [10, 20, 20, 30, 40, 40]
```

In [ ]:
data=[10,20,20,30,40,40]
c=set(data)
print(c)

### Q2
What will be the output? Explain why.

```python
s = {1, 2, 3, 3, 2}
print(s)
```

In [ ]:
{1,2,3}

### Q3
Create an empty set and add numbers from 1 to 5 using a loop.

In [ ]:
a=set()
a.add(1)
a.add(2)
a.add(3)
a.add(4)
a.add(5)
print(a)

### Q4
Why does this code give an error? Fix it.

```python
s = {}
s.add(10)
```

In [ ]:
Confusion between dictionary & Set

### Q5
Given:
```python
A = {2, 4, 6, 8}
B = {4, 8, 12}
```
Find Union, Intersection, A-B

In [ ]:
a={2,4,6,8}
b={4,8,12}
a.union(b)

### Q6
Check whether 15 exists in the set {5, 10, 15, 20}.

In [ ]:
15 in {5,10,15,20}

### Q7
Remove element 30 safely from {10, 20, 30, 40}.

In [ ]:
a={10,20,30,40}
a.remove(30)
print(a)

### Q8
Count unique elements in:
```python
nums = [1, 2, 2, 3, 4, 4, 5]
```

In [ ]:
nums=[1,2,2,3,4,4,5]

s=set(nums)

print (s)

### Q9
What will be the output?
```python
s = {10, 20, 30}
s.add(20)
print(len(s))
```

In [ ]:
3

### Q10
Can a set contain a list? Why?
```python
s = {1, 2, [3, 4]}
```

In [ ]:
# yes, list will be act as a one item in set

### Q11
Convert {100, 200, 300} into list and print first element.

In [ ]:
s={100,200,300}
c= list(s)
print(type(c))
print(c)

### Q12
Students in two classes:
```python
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
```

In [ ]:
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
c= class_A.union (class_B)
print(c)

### Q13
Find unique characters in:
```python
text = 'programming'
```

In [ ]:
text='programming'
s= set(text)
print(s)

### Q14
Remove duplicate words from:
```python
sentence = 'python is easy and python is powerful'
```

In [ ]:
sentence ='python is easy and python is powerful'
a=set(sentence.split())
print(a)

### Q15
What is the output?
```python
s = set('hello')
print(s)
```

In [ ]:
{'o', 'e', 'l', 'h'}