<a href="https://colab.research.google.com/github/ersharadpal/python/blob/main/Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# set
s3=set()
print(type(s3))
print(s3)

<class 'set'>
set()

In [ ]:
list1=[1,2,3,5,6,7,7]

s4=set(list1)

print(s4)
print(type(s4))

# Set is constructer and remove duplicate

{1, 2, 3, 5, 6, 7}
<class 'set'>

In [ ]:
s3.add(3)
s3.add(4)
print(s3)

{3, 4}

In [ ]:
s4.update([10,12,999])
print(s4)

{1, 2, 3, 5, 6, 7, 999, 10, 12}

In [ ]:
s4.update((10,12,99))
print(s4)

{1, 2, 3, 99, 5, 6, 7, 999, 10, 12}

In [ ]:
xourse="acciojob"
se=set(xourse)
print(se)

{'j', 'i', 'b', 'a', 'c', 'o'}

In [ ]:
tup1=("aman","akash","aman","Akash")
print(tup1)

se_tup=set(tup1)
print(se_tup)

('aman', 'akash', 'aman', 'Akash')
{'aman', 'akash', 'Akash'}

In [ ]:
print("before",se_tup)
se_tup.remove("aman")
print("after",se_tup)

before {'aman', 'akash', 'Akash'}
after {'akash', 'Akash'}

In [ ]:
print("before",se_tup)

se_tup.discard("aman")

print("after",se_tup)

before {'akash', 'Akash'}
after {'akash', 'Akash'}

In [ ]:
set1={"aman","akash","aman","Akash"}

for i in set1:
  print(i)

aman
akash
Akash

In [ ]:
friends=["aman","jeetu","ram","shyam","krishan"]
c=set(friends)
c.remove("ram")
print(c)

{'krishan', 'aman', 'jeetu', 'shyam'}

In [ ]:
a=set()
a.update(["aman","ram"])
print(a)
a.remove("ram")
print(a)

{'aman', 'ram'}
{'aman'}

In [ ]:
#Union operator
a={1,2,3}
b={3,4,5}

print(a|b)

{1, 2, 3, 4, 5}

In [ ]:
#Union operator
a={1,2,3}
b={3,4,5}
final=a.union(b)
print(final)

#print(a|b)

{1, 2, 3, 4, 5}

In [ ]:
#intersaction

set1={1,3,3,3,4,5}
set2={1,2,3,4,5}
set1.intersection(set2)


#print(set1&set2)

{1, 3, 4, 5}

In [ ]:
set1={1,3,3,3,4,5}
set2={1,2,3,4,5}
set1.difference(set2)


#

{1, 3, 4, 5}

In [ ]:
course1={"english","hindi"}
course2={"english","sanskrit"}

c=course1.union(course2) # combine and unique
print(c)
d=course1.intersection(course2)
print(d)
e=course1.difference(course2)
print(e)
f=course1.symmetric_difference(course2)
print(f)

{'sanskrit', 'hindi', 'english'}
{'english'}
{'hindi'}
{'sanskrit', 'hindi'}

In [ ]:
data=[10,20,20,30,40,40]
c=set(data)
print(c)

{40, 10, 20, 30}

In [ ]:
s={1,2,3,3,2}
print(s)

{1, 2, 3}

In [ ]:
a=set()
a.add(1)
a.add(2)
a.add(3)
print(a)

{1, 2, 3}

In [ ]:
s={}
s.add(10)

AttributeError: 'dict' object has no attribute 'add'

In [ ]:
a={2,4,6,8}
b={4,8,12}
a.union(b)

{2, 4, 6, 8, 12}

In [ ]:
a={10,20,30,40}
a.discard(30)
print(a)

{40, 10, 20}

In [ ]:
5 in {5,10,15,20}

True

In [ ]:
sentence ='python is easy and python is powerful'
a=set(sentence.split())
print(a)

{'python', 'is', 'powerful', 'and', 'easy'}

In [ ]:
person={
    "name":"aman",
    "marks":21,
    "is_male":True
}
print(person)

print(type(person))

{'name': 'aman', 'marks': 21, 'is_male': True}
<class 'dict'>

In [ ]:
batch10={
    "name":["aman","akash","aditi","rahul"],
    "assignment":[23,24,25,27],
    "Is_male":[True,True,False,True],
    "gender":["Male","Male","Female","Male"]
}

print(batch10)
print(batch10["name"][-1])
#batch10.keys()
#batch10.items()
#batch10.values()

{'name': ['aman', 'akash', 'aditi', 'rahul'], 'assignment': [23, 24, 25, 27], 'Is_male': [True, True, False, True], 'gender': ['Male', 'Male', 'Female', 'Male']}
rahul

dict_items([('name', ['aman', 'akash', 'aditi', 'rahul']), ('assignment', [23, 24, 25, 27]), ('Is_male', [True, True, False, True]), ('gender', ['Male', 'Male', 'Female', 'Male'])])

In [ ]:
for key,value in batch10.items():
 print(key,value)

name ['aman', 'akash', 'aditi', 'rahul']
assignment [23, 24, 25, 27]
Is_male [True, True, False, True]
gender ['Male', 'Male', 'Female', 'Male']

In [ ]:
s= {10, 20, 30}
s.add(20)
print(len(s))

3

In [ ]:
s={100,200,300}
c= list(s)
print(type(c))
print(c)

<class 'list'>
[200, 100, 300]

In [ ]:
s= set('hello')
print(s)

{'o', 'e', 'l', 'h'}

In [ ]:
text='programming'
s= set(text)
print(s)

{'i', 'n', 'o', 'p', 'm', 'g', 'r', 'a'}

In [ ]:
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
c= class_A.union (class_B)
print(c)

{'Simran', 'Aman', 'Riya', 'Karan', 'Neha'}